@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin CenterPositio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//Media Query Manager

/*
0-600       Phone
600-900     Tablet Potrait
900-1200    Tablet Landcape
[1200-1800] is where is Normal style apply
1800+       Big Desktop
*/

