//variables
$color-primary: #55c57a;
$color-primary-light:#7ed56fcc;
$color-primary-dark:#28b485d0;

$color-white:#fff;
$color-dark:#777;
$color-primary-light-1:#f7f7f7;
$color-primary-light-2:#eee;
$color-dark-hard:#000;
$color-tertiary-dark:#5643fa;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;
$color-tertiary-light:#2998ff;

//width
$grid-width:114rem;
//margin
$gutter-verticle:8rem;
$gutter-horizontal:6rem;

//font
$default-font-size:1.6rem;